.campaign__feed_pg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.campaigns__list_contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.campaign__list_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.campaign__list_card > img {
  transform: translateY(20%);
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
.campaign__feed_card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #c3124a;
    padding-bottom: 2rem;
}

.feed_card_body_text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}