.user__loan_interested_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    width: 20rem;
    border-radius: 20px;
    align-items: center;
}
.user__loan_interested_card>p{
    font-size: 1rem;
}