.user__loan_interested_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--themeColour);
    width: 20rem;
    padding: 1rem;
    border-radius: 20px;
    align-items: center;
}

.user__loan_interested_card>p{
    font-family: var(--iconic-text);
    font-size: 1rem;
}

.user__loan_interested_card > .submit__button {
    font-size: 0.85rem;
}

.interest_msg {
    color: var(--secondaryColor);
}