.footer__main{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__main>p{
    color: var(--primaryColor);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
}