.loan__interests_feed_user_section{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    padding: 3rem;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}